@charset 'UTF-8';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



html {
    background-color: rgb(34, 64, 97);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    z-index: 1000; 
    background-color: rgb(34, 64, 97); 
    color: white; 
    transition: all 0.3s ease; /* Transição suave */
    padding-bottom: 10px;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 92vw;
    margin: auto;
    text-align: center;
}

nav a {
    color: white;
    margin: 0.1em;
    background-color: #E2B41D;
    padding: 10px 5px;
    border-radius: 4px;
    font-size: 13px;
    text-decoration: none;
    font-size: 16px;
}

main {
    margin: auto;
    max-width: 1200px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: auto;
    max-width: 80%;
    padding: 0.5em;
}   

#grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    max-width: 92vw;
    margin: 20px auto;
}

.task-area {
    height: 70vh;
    border-radius: 10px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.301);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

article > h3 {
    text-align: center;
    font-size: 1.8em;
    margin: auto;
    max-width: 80%;
    padding: 0.5em;
}

form {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form > input {
    width:  60%;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.599);
}
form > button {
    width: 10%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.599);
    cursor: pointer;
}
form > button:hover {
    background-color: rgba(255, 255, 255, 0.899);
}
form > button:active {
    transform: scale(0.98);
}
form > button {
    font-size: 2em;
}
ol {
    padding: 0;
    width: 95%;
    margin: auto auto 5px ;
    overflow-y: auto;
    background-color: rgba(240, 255, 255, 0.127);
    border-radius: 1em;
    flex-grow: 1;
    overflow-y: auto;
    min-height: 1px;
}

ol::-webkit-scrollbar {
    display: none;
}
li {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    margin-top:0.3em auto;
    border-bottom: 1px solid black;
    max-width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: 1.5em;
    max-width: 100%;
}

li span {
    color: white;
    flex-grow: 1;
    overflow: hidden;
    word-wrap: break-word;
    padding-right: 0.25em;
    word-break:break-all ;

}
.completed {
    text-decoration: line-through;
    opacity: 0.7;
}



li button {
    display: block;
    text-decoration: dotted ;
    background-color: #387cca00;
    font-size: 1.5em;
    border: none;
}
li button:hover {
    display: inline;
}


#important, .important {
    background-color: #FD4F4F;
}

#schedule, .schedule {
    background-color: #E2B41D;
}

#share, .share {
    background-color: #387CCA;
}

#remove, .remove {
    background-color: #4CA86B;
}




@media screen and (min-width: 650px) {
    #grid {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
/*implementação futura
    .task-area {
        height: 65vh;
        min-width: 90vw;
        margin-bottom: 1em;
        margin-left: 0.6em;
    }

    .header-scrolled {
        padding-bottom: 0px;
    }

    .header-scrolled h1 {
        font-size: 1.5em;
        padding: 0.25em;
    }

    .header-scrolled nav {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease;
    }
*/
}




@media screen and (min-width: 1024px) {
    #grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
        overflow: hidden;
    }

    .task-area {
        min-width: 100%;
        margin: 0;
        height: 40vh;
    }
    
    nav {
        display: none;
    }

    header {
        padding-bottom: 10px;
    }
}


aside {
    position: fixed;
    bottom: 0;
    right: 0;
}